h1 {
  margin: 20px;
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  text-align: center;
}

.front {
  margin: 20px;
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  text-align: center;
}

.middle {
  margin:20px;
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  text-align: center;
}

.back {
  margin:20px;
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  text-align: center;
}

body {
  background-image: url("Farm.jpg");
  background-size: auto;
}
