h1 {
  margin: 20px;
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  text-align: center;
  color: white;
}

.front {
  margin: 20px;
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  text-align: center;
  color:red;
}

.middle {
  margin:20px;
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
  font-weight: 200;
  text-align: center;
  color:indigo;
}

.back {
  margin:20px;
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  text-align: center;
  color:white;
}

h3{
  color:white;
}
body {
  background-image: url("Farm.jpg");
  background-size: cover;
}
